@import url("https://fonts.cdnfonts.com/css/tonight-friend");

:root {
  --primary: #6ca2f4;
  --bg: #dcf6ff;
  --light: #fff;
}

body {
  background-color: var(--bg);
  color: var(--primary);
  text-align: center;
  font-size: 16px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Tonight Friend", sans-serif;
}

#header {
  color: var(--primary);
  margin-bottom: 2em;
}

#header h1 {
  font-size: 4em;
}

#header h2 {
  color: var(--light);
  -webkit-text-stroke: 0.5px;
  -webkit-text-stroke-color: #6ca2f4;
}

#start {
  max-width: 845px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

#start p {
  font-size: 24px;
  max-width: 400px;
  line-height: 1.5;
}

.btn {
  font-family: "Tonight Friend", sans-serif;
  text-transform: uppercase;
  font-size: 1.5em;
  letter-spacing: 2px;
  border: 5px solid var(--light);
  border-radius: 10px;
  color: var(--primary);
  padding: 0.5em;
  background: transparent;
  cursor: pointer;
  margin-top: 1em;
}

.btn:hover {
  background-color: var(--light);
}

#game {
  position: relative;
  max-width: 600px;
  margin: auto;
}

#game div {
  border: 5px solid var(--light);
  border-radius: 10px;
  width: 125px;
  height: 125px;
  margin: 10px;
  display: inline-block;
  transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  background-size: cover;
  background-image: url(./assets/back.png);
  cursor: pointer;
}

#game .red.flipped {
  background-image: url(./assets/red.png);
}

#game .blue.flipped {
  background-image: url(./assets/blue.png);
}

#game .green.flipped {
  background-image: url(./assets/green.png);
}

#game .orange.flipped {
  background-image: url(./assets/orange.png);
}

#game .indigo.flipped {
  background-image: url(./assets/indigo.png);
}

#game .purple.flipped {
  background-image: url(./assets/purple.png);
}

.flipped {
  transform: rotateY(180deg);
}

.hide {
  display: none !important;
}

#highscore-wrapper {
  margin-top: 1em;
}

#leaderboard {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.9);
  margin: auto;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#leaderboard h2 {
  font-size: 3em;
  margin-bottom: 1em;
}

#leaderboard .scores {
  font-size: 1.5em;
  line-height: 2;
  text-align: left;
  width: 350px;
}

#leaderboard .scores .score {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
#leaderboard .scores > li.empty-state {
  display: none;
  text-align: center;
}

#leaderboard .scores > li:only-child {
  display: block;
}

#btn-leaderboard {
  position: fixed;
  top: 0;
  right: 0;
  margin: 1.5em;
}

#close-leaderboard {
  color: var(--primary);
  position: absolute;
  top: 0;
  right: 0;
  border: 0;
  background-color: transparent;
  margin: 1em;
  cursor: pointer;
  font-size: 3em;
}
